[submodule "multiplayer-fabric-interaction-system-project"]
	path = multiplayer-fabric-interaction-system-project
	url = https://github.com/V-Sekai-fire/multiplayer-fabric-interaction-system-project.git
	branch = main
[submodule "multiplayer-fabric-interaction-system"]
	path = multiplayer-fabric-interaction-system
	url = https://github.com/V-Sekai-fire/multiplayer-fabric-interaction-system.git
	branch = main
[submodule "multiplayer-fabric-godot"]
	path = multiplayer-fabric-godot
	url = https://github.com/V-Sekai-fire/multiplayer-fabric-godot.git
	branch = multiplayer-fabric
[submodule "multiplayer-fabric-skills"]
	path = multiplayer-fabric-skills
	url = https://github.com/V-Sekai-fire/multiplayer-fabric-skills.git
	branch = main
[submodule "xr-grid"]
	path = xr-grid
	url = https://github.com/V-Sekai/xr-grid.git
